<!DOCTYPE html>
<html amp lang="en">

<head>
    <meta charset="utf-8">
    <title>Curso em Construção</title>
    <link rel="canonical" href="URL_DA_PAGINA_CANONICA">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-custom>
        /* Estilos personalizados podem ser adicionados aqui */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
            text-align: center;
        }

        h1 {
            color: #333;
        }
    </style>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
</head>

<body>
    <header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4">
        <a href="index.html"
            class="text-decoration-none inline-block mx-auto ampstart-headerbar-home-link h3 col-6 center">
            <div class="ampstart-headerbar-title mx-auto">
                <amp-img alt="A beautiful sunset" src="../img/lune/logo-blanc@1x.png" width="100" height="50">
                </amp-img>
            </div>
        </a>

    </header>
    <section>
        <h1>Curso em Construção</h1>
        <p>O curso que você está procurando ainda está em construção. Estamos trabalhando duro para trazer um conteúdo
            incrível em breve.</p>
        <p>Enquanto isso, fique atento e volte em breve para obter mais informações sobre o curso.</p>
    </section>
    <footer>
        <p>Todos os direitos reservados.</p>
    </footer>
</body>

</html>